# Operating System Assignment- 06

In [1]:
import numpy as np
import pandas as pd

## Entering relevant data

In [23]:
data = [['P0',0,1,0,7,5,3], ['P1',2,0,0,3,2,2], ['P2',3,0,2,9,0,2], ['P3',2,1,1,2,2,2], ['P4',0,0,2,4,3,3]]

In [28]:
df = pd.DataFrame(data, columns = ['Process Name', 'Alloc-A', 'Alloc-B', 'Alloc-C', 'Max-A', 'Max-B', 'Max-C'])
df

  Process Name  Alloc-A  Alloc-B  Alloc-C  Max-A  Max-B  Max-C
0           P0        0        1        0      7      5      3
1           P1        2        0        0      3      2      2
2           P2        3        0        2      9      0      2
3           P3        2        1        1      2      2      2
4           P4        0        0        2      4      3      3

In [29]:
df.to_csv('Problem_Table.csv')

## Required Resources

In [31]:
need_a = []
for i in range(0, 5):
    need_a.append(df['Max-A'][i] - df['Alloc-A'][i])
need_a

[7, 1, 6, 0, 4]

In [32]:
need_b = []
for i in range(0, 5):
    need_b.append(df['Max-B'][i] - df['Alloc-B'][i])
need_b

[4, 2, 0, 1, 3]

In [7]:
need_c = []
for i in range(0, 5):
    need_c.append(df['Max-C'][i] - df['Allocation-C'][i])
need_c

[3, 2, 0, 1, 1]

In [34]:
newdf = df

In [35]:
newdf.insert(7, 'Need-A', need_a)
newdf.insert(8, 'Need-B', need_b)
newdf.insert(9, 'Need-C', need_c)
newdf

,Process Name,Alloc-A,Alloc-B,Alloc-C,Max-A,Max-B,Max-C,Need-A,Need-B,Need-C
0,P0,0,1,0,7,5,3,7,4,3
1,P1,2,0,0,3,2,2,1,2,2
2,P2,3,0,2,9,0,2,6,0,0
3,P3,2,1,1,2,2,2,0,1,1
4,P4,0,0,2,4,3,3,4,3,1

In [36]:
newdf.to_csv('Complete_Table.csv')

## Processes and Resources Allocation co-relation

In [37]:
available = [3,3,2]
available_history = []
sequence = []
idxs = []
processes = ['P0', 'P1', 'P2', 'P3', 'P4']

### Processes P1, P3 can be executed initally

In [38]:
for i in range(0, len(processes)):
    if (newdf['Need-A'][i] <= available[0] and newdf['Need-B'][i] <= available[1] and newdf['Need-C'][i] <= available[2]):
        sequence.append(processes[i])
        idxs.append(i)

sequence

['P1', 'P3']

### Updating the availalble resources

In [39]:
for i in range(0, 3):
    available[i] += newdf[newdf.columns[i + 1]][idxs[0]]

available

[5, 3, 2]

### P4 can be executed now

In [40]:
for i in range(0, len(processes)):
    if (newdf['Need-A'][i] <= available[0] and newdf['Need-B'][i] <= available[1] and newdf['Need-C'][i] <= available[2] and (i not in idxs)):
        sequence.append(processes[i])
        idxs.append(i)

sequence

['P1', 'P3', 'P4']

### Updating the available resources

In [41]:
for i in range(0, 3):
    available[i] += newdf[newdf.columns[i + 1]][idxs[1]]

available

[7, 4, 3]

### P0 and P2 can be executed now

In [42]:
for i in range(0, len(processes)):
    if (newdf['Need-A'][i] <= available[0] and newdf['Need-B'][i] <= available[1] and newdf['Need-C'][i] <= available[2] and (i not in idxs)):
        sequence.append(processes[i])
        idxs.append(i)

sequence

['P1', 'P3', 'P4', 'P0', 'P2']

### Updating the available resources

In [43]:
for i in range(0, 3):
    available[i] += newdf[newdf.columns[i + 1]][idxs[2]]

available

[7, 4, 5]

In [44]:
for i in range(0, 3):
    available[i] += newdf[newdf.columns[i + 1]][idxs[3]]
    
available

[7, 5, 5]

In [45]:
for i in range(0, 3):
    available[i] += newdf[newdf.columns[i + 1]][idxs[4]]

available

[10, 5, 7]

In [46]:
result_data = [['Initial', 3, 3, 2], [sequence[0], 5, 3, 2], [sequence[1], 7, 4, 3], [sequence[2], 7, 4, 5], [sequence[3], 7, 5, 5], [sequence[4], 10, 5, 7]]

In [47]:
resultdf = pd.DataFrame(result_data, columns = ['Execution Sequence', 'Available-A', 'Available-B', 'Available-C'])
resultdf

  Execution Sequence  Available-A  Available-B  Available-C
0            Initial            3            3            2
1                 P1            5            3            2
2                 P3            7            4            3
3                 P4            7            4            5
4                 P0            7            5            5
5                 P2           10            5            7

In [48]:
resultdf.to_csv('Result_Table.csv')